@media screen and (min-width: 1366px) {
.container.container-lg { max-width: 1366px; }
}

@media screen and (min-width: 1200px) {
	.container { max-width: 1200px; }
}

@media screen and (max-width: 1500px) {
.testimonial_slider.owl-carousel .owl-nav .owl-prev { left: -45px; }	
.testimonial_slider.owl-carousel .owl-nav .owl-next { right: -45px; }
}

@media screen and (max-width: 1366px) {
/*.mapplic-map {height: auto!important;width:100%!important;max-width: 90%!important; padding-bottom: 50%; top: 0!important; left: auto !important; }*/
.mapplic-map { left: 0!important } 
.map_content { right: 0; }
.banner_content { padding-left: 60px; }
.owl-carousel .owl-nav .owl-prev { left: 30px; }
.owl-carousel .owl-nav .owl-next { right: 30px; }
.bannerslider h2 {font-size: 62px; line-height: 72px; margin-bottom: 20px;}
.brand_text_area { margin-bottom: 30px; }
.content_column .counter_row { margin-top: 0; }
.testimonial_slider { padding-left: 50px; padding-right: 50px; }
.testimonial_slider.owl-carousel .owl-nav .owl-prev { left: 0; }	
.testimonial_slider.owl-carousel .owl-nav .owl-next { right: 0; }
.testimonials .heading_title { margin-right: 50px; }
}

@media screen and (max-width: 1199px) {
h2 { font-size: 48px; line-height: 58px; }
h3 {font-size: 30px;line-height: 36px; }

.banner-column { height: 420px; }
.tabTopLink { margin-left: 0; }
.resp-tabs-list li { font-size: 21px; margin: 0 8px 10px; }
.map_category_list { margin-bottom: 30px; }
.map_category_list li { margin-bottom: 20px; }
.historyTabWrap { margin-bottom: 30px; }
.text-column { padding: 0; }
.mission_content p { font-size: 30px; line-height: 45px; }
.active_bio_content p { font-size: 26px; line-height: 40px; }
.content_column .counter_row { margin-left: 0; }
.content_column .counter_wrap { font-size: 36px; line-height: 42px; }

}

@media screen and (max-width: 1023px) {
.bannerslider .slide { height: 450px; }
.bannerslider h2 { font-size: 48px; line-height: 58px; }
.slide_caption {padding: 16px 30px 15px 0;max-width: 45%;}
}

@media screen and (max-width: 991px) {
body { padding-top: 100px; }
p { font-size: 18px; line-height: 26px; }
ul li, ol li { font-size: 18px; line-height: 26px; }
h2 { font-size: 42px; line-height: 52px; }
h3 { font-size: 24px; line-height: 30px; }
h4 {font-size: 21px;line-height: 27px; }
h5 {font-size: 18px;line-height: 24px; }
h6 {font-size: 16px;line-height: 22px; }
.button { font-size: 24px; line-height: 30px; }
.heading_title p { font-size: 24px; line-height: 34px; }
.heading_title:before { max-width: 220px; height: 6px; border-bottom-width: 6px; }
.main_nav { padding-right: 75px; }
.brand-topbar li { margin-left: 30px; }
header.site-header { height: 100px; }
.logo { max-width: 75px; margin-left: 0; }
.content_right { padding-left: 30px; padding-right: 30px; }
.counter_wrap { font-size: 60px; line-height: 70px; }
.history_sec { padding-top: 60px; padding-bottom: 60px; }
.counter_sec { padding-top: 70px; padding-bottom: 70px; }
.counter_row .counter_col img { max-width: 60px; max-height: 50px; }
.morelink { width: 40px; height: 18px; }
.map_content { position: inherit; right: auto; left: 0; text-align: left; }
.map_category_list li { padding-right: 0; padding-left: 41px; }
.map_category_list li span { right: auto; left: 0; }
.map_content .heading_title.right { text-align: left; }
.map_content .heading_title.right:before { right: auto; left: 0; }
/*.mapplic-map { max-width: 100%!important; position: inherit; }*/
.mission_content p { font-size: 24px; line-height: 40px; }
.recent_news { padding-top: 50px; }
.mission_sec .heading_title { margin-bottom: 20px; }
.news_thumb_content { padding: 20px 20px 0; }
.recent_news .heading_title { margin-bottom: 0; }
.news_thumb_image { height: 150px; }
.news_thumb_content { padding: 0 15px; }
.more { font-size: 18px; }
.more .arrow_sign { font-size: 18px; }
.news_thumb_content h3 { font-size: 21px; line-height: 28px; }
.text-column { column-gap: 40px; }
.text-column p { font-size: 20px; line-height: 30px; }
.values_vision_sec { padding-top: 50px; padding-bottom: 50px; }
.values_vision_content p {font-size: 22px;line-height: 34px;}
.values_vision_content ul li {font-size: 22px;line-height: 28px;}
ul li:before, ol li:before { top: 5px; }
.active_bio_wrap { margin-bottom: 60px; }
.active_bio_content p {font-size: 21px;line-height: 36px;}
.active_bio_content { padding: 40px 30px 34px 30px; }
.active_bio_content .bio_top_title { font-size: 24px; line-height: 30px; }
.active_bio_content h3 { font-size: 34px; line-height: 44px; }
.active_bio_content .biolink { font-size: 26px; line-height: 32px; }
.active_bio_content .biolink .arrow_sign { font-size: 40px; line-height: 22px; }
.active_bio_content h3:before { border-top-width: 12px; margin-left: 30px; }
.our_story_right { padding: 0 0 0 30px }
.dg-logo-img img { max-width: 100%; }
.bio_list { padding-bottom: 0; }
.page_title_content p { font-size: 24px; line-height: 34px; }
.page_title_bar { padding-top: 50px; padding-bottom: 50px; }
.whyus_menu li { margin-right: 60px; }
.whyus_menu li a { font-size: 24px; line-height: 34px; }
.whyus_menu li a:before { font-size: 36px; line-height: 36px; }
/*Our brands page*/
.row_column_sec { padding-top: 60px; }
.row_column_wrap { padding-top: 0; padding-bottom: 0; margin-bottom: 40px; }
.row_column { margin-left: -15px;margin-right: -15px; }
.image_column { position: inherit; left: auto; top: auto; bottom: auto; width: 100%; padding-bottom: 55%; }
.content_column { width: 100%; }
.row_column_sec .row_column_wrap:nth-child(2n) .image_column { right: auto; }
.content_column h3:before { border-top-width: 10px; margin-right: 30px; }
.content_column h3:before { margin-left: 30px; }
.content_link { font-size: 22px; line-height: 28px; }
.brand_content_row.left .brand_text_area { padding-left: 0; }
.content_column .counter_col h4 { margin-bottom: 0; }
.content_column { padding-right: 30px; padding-left: 30px; }
.brand_text_area { margin-bottom: 10px; }
.content_module { padding-top: 60px; }
.content_module_content p { font-size: 21px; line-height: 30px; }
.content_module_content .button { padding: 6px 20px; margin-top: 25px; }
.circle { width: 120px; height: 120px; font-size: 42px; margin-bottom: 20px; }
.circle_row { padding: 0; }
.testimonials { padding-top: 60px; }
.news_row_sec { padding-top: 40px; padding-bottom: 40px; }
.news_row_sec .post-thumbnail img { max-width: 100%; }
.news_row_sec .news_thumb_content { padding-left: 30px; }
.news_row_sec .news_thumb_content p { font-size: 21px; line-height: 31px; }
.content_link { font-size: 20px; line-height: 26px; }

/*Footer*/
footer.site-footer { padding-top: 50px; }
.footer_logo { max-width: 140px; }
.footer_col:nth-child(2), .footer_col:nth-child(3), .footer_col:nth-child(4) {padding-top: 0;}
.social-icons li { margin: 0 5px; }
.social-icons li a { width: 40px; height: 40px; line-height: 40px; } 
.social-icons li a img { max-width: 22px; max-height: 22px; }
.footer_col:nth-child(4) { padding-right: 0; }
.footer_menu { margin-left: 25px; }
.footer_menu li a { font-size: 18px; }
.footer_menu li a:before { margin-right: 10px; }
.footer_col address p { line-height: 30px; }
}

@media screen and (max-width: 767px) {
body { padding-top: 80px; }
p { font-size: 16px; line-height: 24px; }
ul li, ol li { font-size: 16px; line-height: 24px; }
h2 { font-size: 32px; line-height: 42px; }
ul li:before, ol li:before { top: 8px; }
.button { font-size: 20px; line-height: 28px }
header.site-header { height: 80px; }
.bannerslider .slide { height: 300px; }
.bannerslider h2 { font-size: 30px; line-height: 40px; } 	
.banner_content { max-width: 100%; }
.heading_title { margin-bottom: 20px; padding-bottom: 15px; }
.heading_title:before { height: 4px; border-bottom-width: 4px; }

.logo { max-width: 55px; } 
.hidden-sm { display: none; }
.content_left, .content_right { width: 100%; padding-left: 0; padding-right: 0; } 
.banner-column { width: 100%; height: auto; padding: 30px 15px; }
.banner-column img { max-width: 200px; max-height: 100px; }
.counter_sec { padding-top: 50px; padding-bottom: 50px; }
.counter_col { font-size: 18px; line-height: 26px; }
.counter_wrap { font-size: 42px; line-height: 48px; }
.recent_news { padding-top: 40px; }
.news_thumb_col { width: 50%; }
.content_right p { font-size: 18px; line-height: 30px; }
.history_sec, .mission_sec { padding-top: 40px; padding-bottom: 40px; }
.tabTopLink { margin: 0 0 15px; }
.map_content { max-width: inherit; padding-top: 30px; }
/*.mapplic-element { height: auto!important; }
.mapplic-map { position: static!important; top: auto!important; left: auto!important; }*/
.text-column p { font-size: 18px; line-height: 28px; }
.mission_content { padding: 0 }
.mission_content p { font-size: 20px; line-height: 34px; margin-bottom: 20px; }
.news_row { margin-bottom: 10px; }
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next { width: 15px; height: 40px; }
.owl-carousel .owl-nav .owl-prev { left: 15px; }
.owl-carousel .owl-nav .owl-next { right: 15px; }
.banner_content { padding-left: 30px; padding-right: 30px; }
.slide_caption { display: none; }
.active_bio_image { position: inherit; width: 100%; padding-bottom: 70%; }
.active_bio_content { width: 100%; padding: 20px 0; white-space: inherit; min-height: inherit; }
.active_bio_wrap { margin-bottom: 40px; } 
.bio_col { width: 50%; }
.bio_caption { padding: 10px 15px }
.our_story_left { padding-top: 0; margin-bottom: 0; min-height: inherit; }
.heading_title.right { text-align: left; }
.heading_title.right:before { right: auto; left: 0; }
.our_story_left, .our_story_right { width: 100%; padding: 0; }
.dg-logo-img { position: inherit; right: auto; left: auto; }
.bio_sec { padding-bottom: 30px; }
.values_vision_sec { padding-top: 40px; padding-bottom: 40px; }
.values_vision_sec .heading_title { margin-bottom: 20px; } 
.values_vision_content { padding: 0 }
.values_vision_content p { font-size: 18px; line-height: 28px; }
.values_vision_content ul li { font-size: 18px; line-height: 28px; padding-left: 25px; }
.values_vision_content ul li:before { width: 12px; height: 12px; }
.active_bio_content h3 { font-size: 30px; line-height: 40px; }
.active_bio_content p { font-size: 18px; line-height: 28px; }
.active_bio_content .bio_top_title { font-size: 21px; }
.active_bio_content .biolink { font-size: 22px; line-height: 30px; }
.active_bio_content .biolink .arrow_sign { font-size: 30px; line-height: 22px; }
.page_title_bar { padding-top: 40px; padding-bottom: 40px; }
.page_title_content p { font-size: 18px; line-height: 28px; }
/*Our brands page*/
.row_column_sec { padding-top: 40px; padding-bottom: 40px; }
.brand_content_row.right { text-align: left; }
.content_column { padding-left: 15px; padding-right: 15px; }
.content_column h3 { margin-bottom: 20px; }
.content_column h3:before { border-top-width: 8px;margin-left: 20px; }
.brand_content_row.right h3:before { left: 100%; right: auto; margin-left: 20px; }
.content_column .counter_wrap { font-size: 24px; line-height: 30px; }
.content_column .counter_col h4, .content_link { font-size: 18px; line-height: 24px; }
.brand_text_area { margin-bottom: 20px; }
.content_column .counter_row, .brand_content_row.left .counter_row { justify-content: center; }
.content_column .counter_col { margin: 0 20px; }
.brand_content_row.right .counter_col:first-child { margin-left: 20px; }
.brand_content_row.left .counter_col:last-child { margin-right: 20px; }
.row_column_wrap:last-child { margin-bottom: 0; }
.content_module { padding-top: 40px; padding-bottom: 40px; }
.content_module_content .button { margin-top: 15px; }
.content_module_title, .content_module_content { width: 100%; }
.content_module_content p { font-size: 18px; line-height: 24px; }
.circle_row { justify-content: center; }
.circle_col { width: 50%; margin-bottom: 30px; }
.whyus_menu li { margin-right: 30px; }
.whyus_menu li a { font-size: 20px; line-height: 30px; } 
.whyus_menu li a:before { font-size: 30px; line-height: 30px; }
.testimonials { padding-top: 40px; }
.testimonial_slider { padding-left: 0; padding-right: 0; }
.testimonial_slider.owl-carousel .owl-nav .owl-prev, .testimonial_slider.owl-carousel .owl-nav .owl-next { top: auto; bottom: -90px; transform: inherit; }
.testimonial_slider.owl-carousel .owl-nav .owl-prev { left: auto; right: 50px; }
.testimonial_slider.owl-carousel .owl-nav .owl-next { right: 0; }
.content_module.right .content_module_title, .content_module.right .content_module_content { order: inherit; text-align: left; }
.content_module.right .heading_title:before { left: 0; right: auto; }
.news_row_sec .post-thumbnail { width: 100%; margin-bottom: 20px; }
.news_row_sec .news_thumb_content { width: 100%; padding-left: 0; }
.news_row_sec .news_thumb_content .sub_title { font-size: 22px; line-height: 28px; }

/*Footer*/
.footer_logo { max-width: 120px; }
.footer_col, .footer_col:nth-child(2), .footer_col:nth-child(3) { width: 33.333%; margin-bottom: 30px; }
.footer_col:nth-child(4) { width: 100%; }
.footer_col address p { line-height: 28px; }

}

@media screen and (max-width: 640px) {
.counter_col { width: 100%; max-width: 100%; margin-bottom: 40px; }
.counter_col:last-child { margin-bottom: 0; }
.news_thumb_col { width: 100%; }
.bio_col { width: 100%; }
.annual_promotions_sec .heading_title { margin-bottom: 40px; }
.circle_col { width: 100%; margin-bottom: 20px; }
.circle_col:last-child, .circle_col p:last-child { margin-bottom: 0 }
.circle { width: 100px; height: 100px; font-size: 38px; margin-bottom: 15px; }

/*Footer*/
footer.site-footer { text-align: center; }
.footer_logo { margin-left: auto; margin-right: auto; }
.footer_col, .footer_col:nth-child(2), .footer_col:nth-child(3) { width: 100%; }
.footer_col address { padding-left: 0;margin-bottom: 0; }
.footer_menu { margin-left: 0; }
.footer_col .form-footer { text-align: center; }
.footer_menu li { margin-bottom: 5px; }
}

@media screen and (max-width: 479px) {
	.content_column .counter_col { margin: 0 14px; }
	.brand_content_row.right .counter_col:first-child { margin-left: 14px; }
	.brand_content_row.right .counter_col:last-child { margin-right: 14px; }
	.whyus_menu li { margin-right: 0; width: 100%; }
}


